inmobiliaria/back/node_modules/*
modulo1/.DS_Store
modulo1/unidad3/.DS_Store
modulo1/unidad3/src/.DS_Store
modulo1/unidad3/.DS_Store

modulo1/unidad3/.DS_Store
inmobiliaria/.DS_Store
.DS_Store
modulo1/unidad3/.DS_Store
modulo1/unidad3/.DS_Store
