body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    margin-left: 10px;
}

nav ul li a.activo {
    background-color: #4c76a5;
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 50px 0;
    margin-top: 20px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}