<div class="container" style="margin: 50px auto">
    <div class="row">
        <p class="text-end">Hola {{usuario}} ! 
            <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion 
                <i class="fas fa-sign-out-alt" />
            </a>
        </p>
        <div class="col">
            <p class="text-right">Hola {{ usuario }} !</p>
        </div>
    </div>
</div>